@import "tailwindcss";

@theme {
  --color-grape-50: #f6f2fb;
  --color-grape-100: #ece4f7;
  --color-grape-200: #d8c8ef;
  --color-grape-300: #c0a3e3;
  --color-grape-400: #a470d3;
  --color-grape-500: #6f33b7;
  --color-grape-600: #602d9f;
  --color-grape-700: #4e2581;
  --color-grape-800: #3f1e69;
  --color-grape-900: #341a55;
  --color-grape-950: #1f0e33;
}
